<form [formGroup]="formProfile" (ngSubmit)="onSubmitForm()" class="form-horizontal" novalidate autocomplete="off">
  <div class="form-group">
    <label>Email address</label>
    <input formControlName="email" type="email" class="form-control" name="email"/>
  </div>
  <div class="form-group">
    <label>UserName</label>
    <input formControlName="username" type="text" class="form-control" name="username"/>
  </div>
  <div formGroupName="phone">
    <div class="form-group">
      <label>Phone</label>
      <input formControlName="phone" type="text" class="form-control" name="phone"/>
    </div>
    <div class="form-group">
      <label>Mobile</label>
      <input formControlName="mobile" type="text" class="form-control" name="mobile"/>
    </div>
  </div>

  <button [disabled]="!formProfile.valid" type="submit" class="btn btn-primary">Submit</button>
  <button type="button" class="btn btn-danger">Reset</button>
</form>
