<!-- <app-navbar></app-navbar>
<app-article></app-article>
<app-footer></app-footer> -->
<!-- <app-calculator></app-calculator> -->

<!-- Truyền biến hello vào input item -->
<!-- <app-n-input [item]="hello"></app-n-input> -->

<!-- Truyền chuỗi hello vào input item -->
<!-- <app-n-input [item]="'hello1'"></app-n-input> -->
<!-- Component cha có function appComponentAnswer -->
<!-- Component con nhận output answerRequest -->
<!-- <app-o-output (answerRequest)="appComponentAnswer($event)"></app-o-output> -->
<!-- <app-name-card cardName="Professional Dev" phone="0987654321" email="quangdat@gmail" ></app-name-card> -->
<app-progress-bar></app-progress-bar>